<div class="container">
    <div class="card">
        <h4 class="card-title">Сравнение расходов по месяцам</h4>
        <ul class="card-list">
            <li *ngFor="let perMonth of barData" class="card-list__li">
                <span class="bar-subtitle">{{perMonth.month}}</span>
                <div class="bar-progress" 
                    [ngClass]="perMonth.rate > 50 ? '' : 'primary'" 
                    [ngStyle]="{'max-width': perMonth.rate+'%'}">
                    <p class="bar-invoice">{{perMonth.invoice | numberEdit}} руб</p>
                </div>
            </li>
        </ul>
    </div>
</div>